<main class="page__main">
    <div class="card">
        <div class="name-ocupation__container">
            <h1 class="card__name">Irene Fuente</h1>
            <h2 class="card__ocupation">Adalaber</h2>
        </div>
        <img src="assets/images/irefoto.jpg" alt="image-Irene-Fuente" class="card__picture">
        <ul class="card__social-media__container">
            <li class="card__social-media__item">
                <i class="fab fa-facebook-f card__social-media__icon"></i>
            </li>

            <li class="card__social-media__item">
                <i class="fab fa-twitter card__social-media__icon"></i>
            </li>
            <li class="card__social-media__item">
                <i class="fab fa-github-alt card__social-media__icon"></i>
            </li>

        </ul>

    </div>
</main>